<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436564605642-b80i1a55o76vjsfic6h7ateoub67cr6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436564605642-b80i1a55o76vjsfic6h7ateoub67cr6d</string>
	<key>API_KEY</key>
	<string>AIzaSyA0zaXeVSrjtV3mNxul5oiDmdAq56ZK-aM</string>
	<key>GCM_SENDER_ID</key>
	<string>436564605642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.demoTest</string>
	<key>PROJECT_ID</key>
	<string>demotest-aff2c</string>
	<key>STORAGE_BUCKET</key>
	<string>demotest-aff2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436564605642:ios:b195a84b71583a8e185233</string>
</dict>
</plist>